form {
  max-width: 300px;
}
.login__username,
.login__password,
.login__submit {
  width: 100%;
}
.login__username {
  margin-bottom: 7px;
}
.login__password {
  margin-bottom: 20px;
}
.login__submit {
  cursor: pointer;
}
