.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 600px;
  justify-content: space-between;
  row-gap: 20px;
  column-gap: 10px;
}
.products__item {
  border: solid 2px rgb(15, 154, 154);
  border-radius: 5px;
  padding: 5px;
  position: relative;
}
.products__item_sale {
  border: solid 2px rgb(154, 15, 71);
  color: rgb(154, 15, 71);
}
.products__item_disabled {
  border: solid 2px rgb(123, 159, 159);
  color: rgb(123, 159, 159);
}
.products__item__delete {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
